<script setup lang="ts">
const swiper = useSwiper();
</script>

<template>
  <div class="swiper-controls">
    <button @click="swiper.slideNext()"><Icon name="arrow-left" /></button>
    <button @click="swiper.slidePrev()"><Icon name="arrow-right" /></button>
  </div>
</template>

<style lang="scss" scoped>
.swiper-controls {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 9;
  @media (max-width: 768px) {
    display: none;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 87px;
    height: 44px;
    border: 1px solid #3171eb;
    border-radius: 32px;
    background: #fff;
    // box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: rgb(59 130 246 / 0.15);
      // box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.8);
    }
    &.disable {
      opacity: 0.6;
    }
    + button {
      margin-left: 24px;
    }
  }
}
</style>
