<template>
  <div class="home">
    <section>
      <div class="section-title">
        <p>Our People</p>
        <h3>Check out some of our team</h3>
        <div class="swiper-controls" :class="`swiper-${swiper}`">
          <button @click="swiper--">
            <Icon name="arrow-left" />
          </button>
          <button @click="swiper++">
            <Icon name="arrow-right" />
          </button>
        </div>
      </div>

      <div class="user-swiper" :class="`swiper-${swiper}`">
        <div class="user-swiper-wrapper">
          <div class="user-swiper-slide" v-for="slide in users" :key="slide">
            <div class="user-swiper-item">
              <div>
                <div class="wrapper-img">
                  <img :src="slide.image" alt="" />
                </div>
                <div
                  class="user-swiper_info"
                  :style="`background: ${slide.color}`"
                >
                  <div>
                    <strong>{{ slide.name }}</strong>
                    <p>{{ slide.position }}</p>
                  </div>
                  <Icon name="official" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="section-title">
        <p>How it works</p>
        <h3>Fix your marketing bottlenecks in 4 steps</h3>
      </div>
      <div class="content">
        <div class="right">
          <img
            src="/images/blog.png"
            alt=""
            :class="step === 1 ? 'active' : ''"
          />
          <img
            src="/images/blog.png"
            alt=""
            :class="step === 2 ? 'active' : ''"
          />
          <img
            src="/images/blog.png"
            alt=""
            :class="step === 3 ? 'active' : ''"
          />
          <img
            src="/images/blog.png"
            alt=""
            :class="step === 4 ? 'active' : ''"
          />
          <img
            src="/images/blog.png"
            alt=""
            :class="step === 5 ? 'active' : ''"
          />
        </div>
        <div class="steps">
          <div
            class="step"
            :class="step === 1 ? 'active' : ''"
            @click="step = step === 1 ? 0 : 1"
          >
            <div>
              <img src="/icons/Training.svg" alt="" />
              <h5>Request a demo</h5>
              <Icon :name="step === 1 ? 'chevronright' : 'chevronright'" />
            </div>
            <p>
              Book a demo and tell us about your performance marketing
              bottlenecks
            </p>
          </div>
          <div
            class="step"
            :class="step === 2 ? 'active' : ''"
            @click="step = step === 2 ? 0 : 2"
          >
            <div>
              <img src="/icons/Strategy.svg" alt="" />
              <h5>Planning Session</h5>
              <Icon :name="step === 2 ? 'chevronright' : 'chevronright'" />
            </div>
            <p>
              Book a demo and tell us about your performance marketing
              bottlenecks
            </p>
          </div>
          <div
            class="step"
            :class="step === 3 ? 'active' : ''"
            @click="step = step === 3 ? 0 : 3"
          >
            <div>
              <img src="/icons/Tasklist.svg" alt="" />
              <h5>Execution</h5>
              <Icon :name="step === 3 ? 'chevronright' : 'chevronright'" />
            </div>
            <p>
              Book a demo and tell us about your performance marketing
              bottlenecks
            </p>
          </div>
          <div
            class="step"
            :class="step === 4 ? 'active' : ''"
            @click="step = step === 4 ? 0 : 4"
          >
            <div>
              <img src="/icons/BusinessReport.svg" alt="" />
              <h5>Reporting</h5>
              <Icon :name="step === 4 ? 'chevronright' : 'chevronright'" />
            </div>
            <p>
              Book a demo and tell us about your performance marketing
              bottlenecks
            </p>
          </div>
        </div>
      </div>
      <button class="btn" style="margin-top: 32px">
        Get Started
        <Icon name="arrow-right-up" />
      </button>
    </section>

    <section class="section-3">
      <p>Trusted partner for small and medium-sized businesses</p>
      <div class="brand-swiper">
        <div class="brand-wrapper">
          <div v-for="slide in brands" :key="slide" class="brand-swiper-item">
            <img :src="slide" alt="" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss">
.section-title {
  position: relative;
}
.user-swiper {
  overflow: hidden;
  @media (min-width: 1200px) {
    &.swiper-2 {
      .user-swiper-wrapper {
        transform: translateX(-100%);
      }
    }
    &.swiper-1 {
      .user-swiper-wrapper {
        transform: translateX(0%);
      }
    }
  }
  @media (max-width: 1199px) {
    .user-swiper-wrapper .wrapper-img {
      width: calc(33vw - 60px);
    }
    &.swiper-3 {
      .user-swiper-wrapper {
        transform: translateX(-68%);
      }
    }
    &.swiper-2 {
      .user-swiper-wrapper {
        transform: translateX(-35%);
      }
    }
    &.swiper-1 {
      .user-swiper-wrapper {
        transform: translateX(0%);
      }
    }
  }
  @media (max-width: 1199px) {
    .user-swiper-wrapper .wrapper-img {
      width: calc(33vw - 60px);
    }
    &.swiper-7 {
      .user-swiper-wrapper {
        transform: translateX(-208%);
      }
    }
    &.swiper-6 {
      .user-swiper-wrapper {
        transform: translateX(calc(-166.667% - 48px));
      }
    }
    &.swiper-5 {
      .user-swiper-wrapper {
        transform: translateX(calc(-133.333% - 40px));
      }
    }
    &.swiper-4 {
      .user-swiper-wrapper {
        transform: translateX(calc(-100% - 30px));
      }
    }
    &.swiper-3 {
      .user-swiper-wrapper {
        transform: translateX(calc(-66.667% - 22px));
      }
    }
    &.swiper-2 {
      .user-swiper-wrapper {
        transform: translateX(calc(-33.333% - 12px));
      }
    }
    &.swiper-1 {
      .user-swiper-wrapper {
        transform: translateX(0%);
      }
    }
  }
  @media (max-width: 768px) {
    .user-swiper-wrapper .wrapper-img {
      width: calc(100vw - 88px);
    }
    &.swiper-6 {
      .user-swiper-wrapper {
        transform: translateX(calc(-500% - 120px));
      }
    }
    &.swiper-5 {
      .user-swiper-wrapper {
        transform: translateX(calc(-400% - 96px));
      }
    }
    &.swiper-4 {
      .user-swiper-wrapper {
        transform: translateX(calc(-300% - 72px));
      }
    }
    &.swiper-3 {
      .user-swiper-wrapper {
        transform: translateX(calc(-200% - 50px));
      }
    }
    &.swiper-2 {
      .user-swiper-wrapper {
        transform: translateX(calc(-100% - 28px));
      }
    }
    &.swiper-1 {
      .user-swiper-wrapper {
        transform: translateX(0%);
      }
    }
  }
}
.user-swiper-item {
  position: relative;
}
.user-swiper-wrapper {
  transition: all 800ms linear;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  padding: 0 0 5px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 52px;
}
.swiper-controls {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 9;
  &.swiper-1 {
    button:first-child {
      opacity: 0.4;
      pointer-events: none;
      cursor: default;
    }
  }
  @media (min-width: 1200px) {
    &.swiper-2 {
      button + button {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  @media (max-width: 1199px) {
    &.swiper-6 {
      button + button {
        opacity: 0.4;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  @media (max-width: 768px) {
    position: static;
    margin-top: 10px;
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 87px;
    height: 44px;
    border: 1px solid #3171eb;
    border-radius: 32px;
    background: #fff;
    // box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: rgb(59 130 246 / 0.15);
      // box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.8);
    }
    &.disable {
      opacity: 0.6;
    }
    + button {
      margin-left: 24px;
    }
  }
}
.brand-swiper {
  overflow: hidden;
  width: 100%;

  .brand-wrapper {
    animation: slideslow 120s linear infinite;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(30 * 216px);

    .brand-swiper-item {
      width: 216px;
    }

    @media (max-width: 768px) {
      width: calc(30 * 120px);

      .brand-swiper-item {
        padding: 0 5px;
        width: 120px;
      }
    }
  }
}

@keyframes slideslow {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: calc(100% - 30 * 216px);

    @media (max-width: 768px) {
      margin-left: calc(100% - 30 * 120px);
    }
  }
}

* {
  transition: all 300ms;
}

section {
  position: relative;
}

h3 {
  font-weight: 600;
  font-size: 39px;
  color: #243757;
}

.home {
  margin: 80px auto;
  width: 1160px;
  max-width: calc(100% - 60px);
}

.section-title {
  text-align: left;
  margin-bottom: 32px;
  margin-top: 80px;

  &.absolute {
    position: absolute;
    top: 0;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5d6b82;
  }
}

@media (max-width: 768px) {
  .section-title.absolute {
    position: static;
    margin-bottom: 32px;
  }

  .user-swiper {
    padding-top: 0 !important;
  }
}

.user-swiper {
  &-item:hover {
    .wrapper-img {
      border: 2px solid #091e42;
      box-shadow: 4px 4px 0px #091e42;
      img {
        filter: saturate(1);
        transform: scale(1.1, 1.1);
      }
    }
    .icon {
      opacity: 1;
      visibility: visible;
    }
    .user-swiper_info::after {
      background: rgb(0 0 0 / 0.1);
    }
  }
  > div {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    padding: 0 0 5px;
    max-width: 100%;

    @media (max-width: 1150px) {
      padding: 5px;
    }

    .wrapper-img {
      margin: 0 auto;
      position: relative;
      transition: all 300ms;
      width: 245px;
      height: 325px;
      max-width: 100%;
      overflow: hidden;
      border-radius: 24px;
      display: flex;
      align-items: flex-end;
      border: 2px solid #b3b9c4;
      height: 0;
      padding-top: 116%;

      > img {
        transition: all 300ms;
        position: absolute;
        width: 100%;
        filter: saturate(0);
        display: block;
      }
    }
  }

  @media (max-width: 1150px) {
  }

  @media (max-width: 768px) {
    .swiper-slide {
      width: 50% !important;
    }
  }

  &_info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 18px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgb(0 0 0 / 0);
      border-radius: 10px;
    }
    .icon {
      margin-left: auto;
      opacity: 0;
      visibility: hidden;
    }
    @media (max-width: 480px) {
      position: relative;
      margin-top: 16px;
      padding: 10px;
      left: 0;
      top: 0;
    }

    strong {
      font-weight: 600;
      font-size: 16px;
    }

    p {
      font-size: 13px;
      margin-top: 4px;
    }
  }
}

.content {
  display: flex;

  @media (max-width: 768px) {
    display: block;
  }

  > * {
    flex: 1;
    width: 50%;
    order: 1;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .right {
    padding-top: 16px;
    position: relative;
    order: 2;
    overflow: hidden;

    img {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all 1s;
      max-width: 100%;
      height: auto;
      margin: 0 auto;

      @media (max-width: 768px) {
        margin-bottom: 32px;
        left: 100%;
      }

      &.active {
        animation: opacity 600ms;
        opacity: 1;
        visibility: visible;

        @media (max-width: 768px) {
          position: static;
        }
      }
    }

    &:hover {
      img {
        //animation: rotate 1s;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  justify-content: center;
  width: 165px;
  height: 56px;
  background: #3171eb;
  border-radius: 32px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background-color: rgb(59 130 246 / 0.9);
  }

  img {
    margin-left: 8px;
  }
}

.steps {
  padding-right: 50px;
  position: relative;

  @media (max-width: 768px) {
    padding-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    left: calc(50% - 26px);
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 1px dashed #7a8699;
    z-index: -1;
  }

  .step {
    padding: 16px;
    background: #ffffff;
    border: 1px solid #b3b9c4;
    border-radius: 16px;
    cursor: pointer;
    transition: all 300ms;

    + .step {
      margin-top: 32px;
    }

    &.active {
      border: 2px solid #091e42;
      box-shadow: 4px 4px 0px #091e42;

      // box-shadow: 2px 2px 0px 3px #091e42;
      .icon img {
        transform: rotate(90deg);
      }

      > div {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        color: #091e42;

        > img {
          height: 64px;
        }
      }

      p {
        opacity: 1;
        visibility: visible;
        height: 48px;
        margin-top: 10px;
        @media (max-width: 370px) {
          height: auto;
        }
      }
    }

    &:hover:not(.active) {
      border: 1px solid #091e42;
      box-shadow: 2px 2px 0px #091e42;
    }

    > div {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      color: #091e42;
      cursor: pointer;

      h5 {
        //white-space: nowrap;
      }

      .icon {
        margin-left: auto;
      }

      > img {
        height: 32px;
        margin-right: 16px;
      }
    }

    p {
      opacity: 0;
      visibility: hidden;
      height: 0;
      font-size: 16px;
      line-height: 24px;
      color: #42526d;
      margin-top: 0;
      // transition: all 1ms;
    }
  }
}

.section-3 {
  background: #006430;
  color: #fff;
  text-align: center;
  margin-top: 150px;
  padding: 48px 0 55px;

  .brand-swiper-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      img {
        transform: scale(1.05, 1.05);
      }
    }
  }

  p {
    margin-bottom: 32px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(3deg);
  }

  67% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
</style>
<script setup>
const step = ref(1);
const swiper = ref(1);
const brands = [
  "/images/brand1.png",
  "/images/brand2.png",
  "/images/brand3.png",
  "/images/brand4.png",
  "/images/brand5.png",
  "/images/brand6.png",
  "/images/brand7.png",
  "/images/brand8.png",
  "/images/brand9.png",
  "/images/brand1.png",
  "/images/brand1.png",
  "/images/brand2.png",
  "/images/brand3.png",
  "/images/brand4.png",
  "/images/brand5.png",
  "/images/brand6.png",
  "/images/brand7.png",
  "/images/brand8.png",
  "/images/brand9.png",
  "/images/brand1.png",
  "/images/brand1.png",
  "/images/brand2.png",
  "/images/brand3.png",
  "/images/brand4.png",
  "/images/brand5.png",
  "/images/brand6.png",
  "/images/brand7.png",
  "/images/brand8.png",
  "/images/brand9.png",
  "/images/brand1.png",
];

const users = [
  {
    image: "/images/Photo0.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#3171EB",
  },
  {
    image: "/images/Photo1.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#00A650",
  },
  {
    image: "/images/Photo2.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#3171EB",
  },
  {
    image: "/images/Photo3.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#F28728",
  },
  {
    image: "/images/Photo4.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#3171EB",
  },
  {
    image: "/images/Photo5.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#00A650",
  },
  {
    image: "/images/Photo6.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#F28728",
  },
  {
    image: "/images/Photo1.png",
    name: "Amy Duong",
    position: "CEO / Founder",
    color: "#3171EB",
  },
];
</script>


